<div class="filter">
	<div class="skin">
		<ul class="filter__main">
			<li class="filter__main-item">
				<a class="filter__main-link active">Входящие заявки</a>
				<div class="badge badge--filter">3</div>
			</li>
			<li class="filter__main-item">
				<a href="#" class="filter__main-link">Исходящие заявки</a>
			</li>
		</ul>
		<ul class="filter__secondary">
			<li class="filter__secondary-item">
				<a class="filter__secondry-link active">Ожидают вашего ответа</a>
			</li>
			<li class="filter__secondary-item">
				<a href="#" class="filter__secondry-link">Предложение отправлено</a>
			</li>
			<li class="filter__secondary-item">
				<a href="#" class="filter__secondry-link">Отклоненные</a>
			</li>
		</ul>
	</div>
</div>