<header class="header">
	<div class="skin">
		<a href="#" class="header__logo">
			<img src="media/img/logo.png" width="224" height="34" alt="Sborka Project" >
			<span class="header__logo-caption">Регион: Новосибирск</span>
		</a>

		<a href="#" class="header__user-block">
			<div class="header__user-ava">
				<img src="media/img/user-ava-1.svg" width="31" height="41" alt="Sborka Project">
			</div>
			Компания </br>
			«Move You»
		</a>

		<nav class="header__nav">
			<ul class="header__nav-list">
				<li class="header__nav-item">
					<a href="#" class="header__nav-link">Заявки</a>
				</li>
				<li class="header__nav-item">
					<a href="#" class="header__nav-link">О сервисе</a>
				</li>
				<li class="header__nav-item">
					<a href="#" class="header__nav-link">Сотрудничество</a>
				</li>
				<li class="header__nav-item">
					<a href="#" class="header__nav-link">Контакты</a>
				</li>
			</ul>
		</nav>
	</div>
</header>