<header class="header">
	<div class="skin">
		<a href="#" class="header__logo">
			Sborka Project
			<span slass="header__logo-caption">Регион: Новосибирск</span>
		</a>

		<nav class="header__nav">
			<ul class="header__nav-list">
				<li class="header__nav-item">
					<a href="#" class="header__nav-link">Заявки</a>
				</li>
				<li class="header__nav-item">
					<a href="#" class="header__nav-link">О сервисе</a>
				</li>
				<li class="header__nav-item">
					<a href="#" class="header__nav-link">Сотрудничество</a>
				</li>
				<li class="header__nav-item">
					<a href="#" class="header__nav-link">Контакты</a>
				</li>
			</ul>
		</nav>
		<div class="user-block">
			<svg width="40" height="40">
				<use xlink:href="#icon-user-ava"></use>
			</svg>
			Компания </br>
			«Move You»
		</div>
	</div>
</header>