<ul class="orders-list">
	<li class="orders-list__item">
		<div class="orders-list__date">24.04.2016</div>
		<a href="#" class="orders-list__parners orders-list__parners--order-open">Лунин и ко</a>
		<div class="orders-list__quantity">5 позиций</div>
	</li>
	<li class="orders-list__item">
		<div class="orders-list__date">24.04.2016</div>
		<a href="#" class="orders-list__parners">Поставщикофф</a>
		<div class="orders-list__quantity">5 позиций</div>
	</li>
	<li class="orders-list__item">
		<div class="orders-list__date">24.04.2016</div>
		<a href="#" class="orders-list__parners">Поставщикофф</a>
		<div class="orders-list__quantity">2 позиций</div>
	</li>
	<li class="orders-list__item">
		<div class="orders-list__date">24.04.2016</div>
		<a href="#" class="orders-list__parners">Оммет</a>
		<div class="orders-list__quantity">34 позиций</div>
	</li>
	<li class="orders-list__item">
		<div class="orders-list__date">24.04.2016</div>
		<a href="#" class="orders-list__parners">ОАО «ОША»</a>
		<div class="orders-list__quantity">12 позиций</div>
	</li>
	<li class="orders-list__item">
		<div class="orders-list__date">24.04.2016</div>
		<a href="#" class="orders-list__parners">ALSTOM </br>
			(Энергоинжиниринг)</a>
		<div class="orders-list__quantity">12 позиций</div>
	</li>
	<li class="orders-list__item">
		<div class="orders-list__date">24.04.2016</div>
		<a href="#" class="orders-list__parners">Rigez</a>
		<div class="orders-list__quantity">4 позиций</div>
	</li>
	<li lass="orders-list__item">
		<div class="orders-list__date">24.04.2016</div>
		<a href="#" class="orders-list__parners">ИКЕЯ</a>
		<div class="orders-list__quantity">7 позиций</div>
	</li>
	<li>
		<div class="orders-list__date">24.04.2016</div>
		<br href="#" class="orders-list__parners">«Звезда Сибири»</a>
		<div class="orders-list__quantity">5 позиций</div>
	</li>
</ul>
