<ul class="orders-cards">
	<li class="orders-cards__item">
		<a href="#" class="orders-cards__title orders-cards__title--order-open">Лунин и ко</a>
		<ul class="orders-cards__tabs">
			<li class="orders-cards__tabs-item">
				<a href="#orders-cards-panel-1" class="orders-cards__tabs-link active">Предложение</a>
			</li>
			<li class="orders-cards__tabs-item">
				<a href="#orders-cards-panel-2" class="orders-cards__tabs-link">Сообщения</a>
			</li>
		</ul>
		<ul class="order-cards__tabs-content">
			<li class="orders-cards__panel">
				<div class="orders-cards__intro">
					<p>Мы хотим обновить наш офис, основные материалы есть,
						но нужны следующие позиции с доставкой</p>
				</div>
				<form action="#" method="post">
					<table class="orders-cards__table">
						<tr>
							<th>Наименование</th>
							<th>Количество</th>
							<th>За шт</th>
							<th>Итого</th>
						</tr>
						<tr>
							<td>Саморезы 8x60mm</td>
							<td>1000 шт</td>
							<td><input type="text" id="articul2_1" name="articul2_1"></td>
							<td></td>
						</tr>
						<tr>
							<td>Гвозди 8x80mm</td>
							<td>2000 шт</td>
							<td><input type="text" id="articul2_2" name="articul2_2"></td>
							<td></td>
						</tr>
						<tr>
							<td>Кирпич</td>
							<td>200000 шт</td>
							<td><input type="text" id="articul2_3" name="articul2_3"></td>
							<td></td>
						</tr>
						<tr>
							<td>Молоток для гвоздей</td>
							<td>30 шт</td>
							<td><input type="text" id="articul2_4" name="articul2_4"></td>
							<td></td>
						</tr>
						<tr>
							<td>Пеноблоки</td>
							<td>200 шт</td>
							<td><input type="text" id="articul2_5" name="articul2_5"></td>
							<td></td>
						</tr>
					</table>
				</form>
				<div class="orders-cards__delivery">Доставить нужно по адресу <a href="#" class="orders-cards__adress lnk lnk--underline">
					г. Новосибирск</a>,ул. Кутателадзе 4г до <span class="orders-cards__delivery-date">30.05.2016</span>
				</div>
				<div class="orders-cards__panel-control">
					<a href="#" class="orders-cards__add-comment lnk lnk--black">Добавить комментарий</a>
					<input type="submit" class="btn btn--blue" value="Отправить предложение">
					<input type="reset" class="btn btn--transparent" value="Отклонить">
				</div>
			</li>
		</ul>
	</li>
	<li class="orders-cards__item">
		<a href="#" class="orders-cards__title orders-cards__title--order-open">Лунин и ко</a>
		<ul class="orders-cards__tabs">
			<li class="orders-cards__tabs-item">
				<a href="#orders-cards-panel-1" class="orders-cards__tabs-link active">Предложение</a>
			</li>
			<li class="orders-cards__tabs-item">
				<a href="#orders-cards-panel-2" class="orders-cards__tabs-link">Сообщения</a>
			</li>
		</ul>
		<ul class="order-cards__tabs-content">
			<li class="orders-cards__panel">
				<div class="orders-cards__intro">
					<p>Мы хотим обновить наш офис, основные материалы есть,
						но нужны следующие позиции с доставкой</p>
				</div>
				<form action="#" method="post">
					<table class="orders-cards__table">
						<tr>
							<th>Наименование</th>
							<th>Количество</th>
							<th>За шт</th>
							<th>Итого</th>
						</tr>
						<tr>
							<td>Саморезы 8x60mm</td>
							<td>1000 шт</td>
							<td><input type="text" id="articul2_1" name="articul2_1"></td>
							<td></td>
						</tr>
						<tr>
							<td>Гвозди 8x80mm</td>
							<td>2000 шт</td>
							<td><input type="text" id="articul2_2" name="articul2_2"></td>
							<td></td>
						</tr>
						<tr>
							<td>Кирпич</td>
							<td>200000 шт</td>
							<td><input type="text" id="articul2_3" name="articul2_3"></td>
							<td></td>
						</tr>
						<tr>
							<td>Молоток для гвоздей</td>
							<td>30 шт</td>
							<td><input type="text" id="articul2_4" name="articul2_4"></td>
							<td></td>
						</tr>
						<tr>
							<td>Пеноблоки</td>
							<td>200 шт</td>
							<td><input type="text" id="articul2_5" name="articul2_5"></td>
							<td></td>
						</tr>
					</table>
				</form>
				<div class="orders-cards__delivery">Доставить нужно по адресу <a href="#" class="orders-cards__adress lnk lnk--underline">
					г. Новосибирск</a>,ул. Кутателадзе 4г до <span class="orders-cards__delivery-date">30.05.2016</span>
				</div>
				<div class="orders-cards__panel-control">
					<a href="#" class="orders-cards__add-comment lnk lnk--black">Добавить комментарий</a>
					<input type="submit" class="btn btn--blue disabled" value="Отправить предложение" >
					<input type="reset" class="btn btn--transparent" value="Отклонить">
				</div>
			</li>
		</ul>
	</li>
	<li class="orders-cards__item">
		<a href="#" class="orders-cards__title">Лунин и ко</a>
		<ul class="orders-cards__tabs">
			<li class="orders-cards__tabs-item">
				<a href="#orders-cards-panel-1" class="orders-cards__tabs-link active">Предложение</a>
			</li>
			<li class="orders-cards__tabs-item">
				<a href="#orders-cards-panel-2" class="orders-cards__tabs-link">Сообщения</a>
			</li>
		</ul>
		<ul class="order-cards__tabs-content">
			<li class="orders-cards__panel">
				<div class="orders-cards__intro">
					<p>Мы хотим обновить наш офис, основные материалы есть,
						но нужны следующие позиции с доставкой</p>
				</div>
				<form action="#" method="post">
					<table class="orders-cards__table">
						<tr>
							<th>Наименование</th>
							<th>Количество</th>
							<th>За шт</th>
							<th>Итого</th>
						</tr>
						<tr>
							<td>Саморезы 8x60mm</td>
							<td>1000 шт</td>
							<td><input type="text" id="articul2_1" name="articul2_1"></td>
							<td></td>
						</tr>
						<tr>
							<td>Гвозди 8x80mm</td>
							<td>2000 шт</td>
							<td><input type="text" id="articul2_2" name="articul2_2"></td>
							<td></td>
						</tr>
						<tr>
							<td>Кирпич</td>
							<td>200000 шт</td>
							<td><input type="text" id="articul2_3" name="articul2_3"></td>
							<td></td>
						</tr>
						<tr>
							<td>Молоток для гвоздей</td>
							<td>30 шт</td>
							<td><input type="text" id="articul2_4" name="articul2_4"></td>
							<td></td>
						</tr>
						<tr>
							<td>Пеноблоки</td>
							<td>200 шт</td>
							<td><input type="text" id="articul2_5" name="articul2_5"></td>
							<td></td>
						</tr>
					</table>
				</form>
				<div class="orders-cards__delivery">Доставить нужно по адресу <a href="#" class="orders-cards__adress lnk lnk--underline">
					г. Новосибирск</a>,ул. Кутателадзе 4г до <span class="orders-cards__delivery-date">30.05.2016</span>
				</div>
				<div class="orders-cards__panel-control">
					<a href="#" class="orders-cards__add-comment lnk lnk--black">Добавить комментарий</a>
					<input type="submit" class="btn btn--blue" value="Отправить предложение" disabled>
					<input type="reset" class="btn btn--transparent" value="Отклонить">
				</div>
			</li>
		</ul>
	</li>
	<li class="orders-cards__item">
		<a href="#" class="orders-cards__title">Лунин и ко</a>
		<ul class="orders-cards__tabs">
			<li class="orders-cards__tabs-item">
				<a href="#orders-cards-panel-1" class="orders-cards__tabs-link active">Предложение</a>
			</li>
			<li class="orders-cards__tabs-item">
				<a href="#orders-cards-panel-2" class="orders-cards__tabs-link">Сообщения</a>
			</li>
		</ul>
		<ul class="order-cards__tabs-content">
			<li class="orders-cards__panel">
				<div class="orders-cards__intro">
					<p>Мы хотим обновить наш офис, основные материалы есть,
						но нужны следующие позиции с доставкой</p>
				</div>
				<form action="#" method="post">
					<table class="orders-cards__table">
						<tr>
							<th>Наименование</th>
							<th>Количество</th>
							<th>За шт</th>
							<th>Итого</th>
						</tr>
						<tr>
							<td>Саморезы 8x60mm</td>
							<td>1000 шт</td>
							<td><input type="text" id="articul2_1" name="articul2_1"></td>
							<td></td>
						</tr>
						<tr>
							<td>Гвозди 8x80mm</td>
							<td>2000 шт</td>
							<td><input type="text" id="articul2_2" name="articul2_2"></td>
							<td></td>
						</tr>
						<tr>
							<td>Кирпич</td>
							<td>200000 шт</td>
							<td><input type="text" id="articul2_3" name="articul2_3"></td>
							<td></td>
						</tr>
						<tr>
							<td>Молоток для гвоздей</td>
							<td>30 шт</td>
							<td><input type="text" id="articul2_4" name="articul2_4"></td>
							<td></td>
						</tr>
						<tr>
							<td>Пеноблоки</td>
							<td>200 шт</td>
							<td><input type="text" id="articul2_5" name="articul2_5"></td>
							<td></td>
						</tr>
					</table>
				</form>
				<div class="orders-cards__delivery">Доставить нужно по адресу <a href="#" class="orders-cards__adress lnk lnk--underline">
					г. Новосибирск</a>,ул. Кутателадзе 4г до <span class="orders-cards__delivery-date">30.05.2016</span>
				</div>
				<div class="orders-cards__panel-control">
					<a href="#" class="orders-cards__add-comment lnk lnk--black">Добавить комментарий</a>
					<input type="submit" class="btn btn--blue" value="Отправить предложение">
					<input type="reset" class="btn btn--transparent" value="Отклонить">
				</div>
			</li>
		</ul>
	</li>
	<li class="orders-cards__item">
		<a href="#" class="orders-cards__title">Лунин и ко</a>
		<ul class="orders-cards__tabs">
			<li class="orders-cards__tabs-item">
				<a href="#orders-cards-panel-1" class="orders-cards__tabs-link active">Предложение</a>
			</li>
			<li class="orders-cards__tabs-item">
				<a href="#orders-cards-panel-2" class="orders-cards__tabs-link">Сообщения</a>
			</li>
		</ul>
		<ul class="order-cards__tabs-content">
			<li class="orders-cards__panel">
				<div class="orders-cards__intro">
					<p>Мы хотим обновить наш офис, основные материалы есть,
						но нужны следующие позиции с доставкой</p>
				</div>
				<form action="#" method="post">
					<table class="orders-cards__table">
						<tr>
							<th>Наименование</th>
							<th>Количество</th>
							<th>За шт</th>
							<th>Итого</th>
						</tr>
						<tr>
							<td>Саморезы 8x60mm</td>
							<td>1000 шт</td>
							<td><input type="text" id="articul2_1" name="articul2_1"></td>
							<td></td>
						</tr>
						<tr>
							<td>Гвозди 8x80mm</td>
							<td>2000 шт</td>
							<td><input type="text" id="articul2_2" name="articul2_2"></td>
							<td></td>
						</tr>
						<tr>
							<td>Кирпич</td>
							<td>200000 шт</td>
							<td><input type="text" id="articul2_3" name="articul2_3"></td>
							<td></td>
						</tr>
						<tr>
							<td>Молоток для гвоздей</td>
							<td>30 шт</td>
							<td><input type="text" id="articul2_4" name="articul2_4"></td>
							<td></td>
						</tr>
						<tr>
							<td>Пеноблоки</td>
							<td>200 шт</td>
							<td><input type="text" id="articul2_5" name="articul2_5"></td>
							<td></td>
						</tr>
					</table>
				</form>
				<div class="orders-cards__delivery">Доставить нужно по адресу <a href="#" class="orders-cards__adress lnk lnk--underline">
					г. Новосибирск</a>,ул. Кутателадзе 4г до <span class="orders-cards__delivery-date">30.05.2016</span>
				</div>
				<div class="orders-cards__panel-control">
					<a href="#" class="orders-cards__add-comment lnk lnk--black">Добавить комментарий</a>
					<input type="submit" class="btn btn--blue" value="Отправить предложение">
					<input type="reset" class="btn btn--transparent" value="Отклонить">
				</div>
			</li>
		</ul>
	</li>
	<li class="orders-cards__item">
		<a href="#" class="orders-cards__title">Лунин и ко</a>
		<ul class="orders-cards__tabs">
			<li class="orders-cards__tabs-item">
				<a href="#orders-cards-panel-1" class="orders-cards__tabs-link active">Предложение</a>
			</li>
			<li class="orders-cards__tabs-item">
				<a href="#orders-cards-panel-2" class="orders-cards__tabs-link">Сообщения</a>
			</li>
		</ul>
		<ul class="order-cards__tabs-content">
			<li class="orders-cards__panel">
				<div class="orders-cards__intro">
					<p>Мы хотим обновить наш офис, основные материалы есть,
						но нужны следующие позиции с доставкой</p>
				</div>
				<form action="#" method="post">
					<table class="orders-cards__table">
						<tr>
							<th>Наименование</th>
							<th>Количество</th>
							<th>За шт</th>
							<th>Итого</th>
						</tr>
						<tr>
							<td>Саморезы 8x60mm</td>
							<td>1000 шт</td>
							<td><input type="text" id="articul2_1" name="articul2_1"></td>
							<td></td>
						</tr>
						<tr>
							<td>Гвозди 8x80mm</td>
							<td>2000 шт</td>
							<td><input type="text" id="articul2_2" name="articul2_2"></td>
							<td></td>
						</tr>
						<tr>
							<td>Кирпич</td>
							<td>200000 шт</td>
							<td><input type="text" id="articul2_3" name="articul2_3"></td>
							<td></td>
						</tr>
						<tr>
							<td>Молоток для гвоздей</td>
							<td>30 шт</td>
							<td><input type="text" id="articul2_4" name="articul2_4"></td>
							<td></td>
						</tr>
						<tr>
							<td>Пеноблоки</td>
							<td>200 шт</td>
							<td><input type="text" id="articul2_5" name="articul2_5"></td>
							<td></td>
						</tr>
					</table>
				</form>
				<div class="orders-cards__delivery">Доставить нужно по адресу <a href="#" class="orders-cards__adress lnk lnk--underline">
					г. Новосибирск</a>,ул. Кутателадзе 4г до <span class="orders-cards__delivery-date">30.05.2016</span>
				</div>
				<div class="orders-cards__panel-control">
					<a href="#" class="orders-cards__add-comment lnk lnk--black">Добавить комментарий</a>
					<input type="submit" class="btn btn--blue" value="Отправить предложение">
					<input type="reset" class="btn btn--transparent" value="Отклонить">
				</div>
			</li>
		</ul>
	</li>
	<li class="orders-cards__item">
		<a href="#" class="orders-cards__title">Лунин и ко</a>
		<ul class="orders-cards__tabs">
			<li class="orders-cards__tabs-item">
				<a href="#orders-cards-panel-1" class="orders-cards__tabs-link active">Предложение</a>
			</li>
			<li class="orders-cards__tabs-item">
				<a href="#orders-cards-panel-2" class="orders-cards__tabs-link">Сообщения</a>
			</li>
		</ul>
		<ul class="order-cards__tabs-content">
			<li class="orders-cards__panel">
				<div class="orders-cards__intro">
					<p>Мы хотим обновить наш офис, основные материалы есть,
						но нужны следующие позиции с доставкой</p>
				</div>
				<form action="#" method="post">
					<table class="orders-cards__table">
						<tr>
							<th>Наименование</th>
							<th>Количество</th>
							<th>За шт</th>
							<th>Итого</th>
						</tr>
						<tr>
							<td>Саморезы 8x60mm</td>
							<td>1000 шт</td>
							<td><input type="text" id="articul2_1" name="articul2_1"></td>
							<td></td>
						</tr>
						<tr>
							<td>Гвозди 8x80mm</td>
							<td>2000 шт</td>
							<td><input type="text" id="articul2_2" name="articul2_2"></td>
							<td></td>
						</tr>
						<tr>
							<td>Кирпич</td>
							<td>200000 шт</td>
							<td><input type="text" id="articul2_3" name="articul2_3"></td>
							<td></td>
						</tr>
						<tr>
							<td>Молоток для гвоздей</td>
							<td>30 шт</td>
							<td><input type="text" id="articul2_4" name="articul2_4"></td>
							<td></td>
						</tr>
						<tr>
							<td>Пеноблоки</td>
							<td>200 шт</td>
							<td><input type="text" id="articul2_5" name="articul2_5"></td>
							<td></td>
						</tr>
					</table>
				</form>
				<div class="orders-cards__delivery">Доставить нужно по адресу <a href="#" class="orders-cards__adress lnk lnk--underline">
					г. Новосибирск</a>,ул. Кутателадзе 4г до <span class="orders-cards__delivery-date">30.05.2016</span>
				</div>
				<div class="orders-cards__panel-control">
					<a href="#" class="orders-cards__add-comment lnk lnk--black">Добавить комментарий</a>
					<input type="submit" class="btn btn--blue" value="Отправить предложение">
					<input type="reset" class="btn btn--transparent" value="Отклонить">
				</div>
			</li>
		</ul>
	</li>
	<li class="orders-cards__item">
		<a href="#" class="orders-cards__title">Лунин и ко</a>
		<ul class="orders-cards__tabs">
			<li class="orders-cards__tabs-item">
				<a href="#orders-cards-panel-1" class="orders-cards__tabs-link active">Предложение</a>
			</li>
			<li class="orders-cards__tabs-item">
				<a href="#orders-cards-panel-2" class="orders-cards__tabs-link">Сообщения</a>
			</li>
		</ul>
		<ul class="order-cards__tabs-content">
			<li class="orders-cards__panel">
				<div class="orders-cards__intro">
					<p>Мы хотим обновить наш офис, основные материалы есть,
						но нужны следующие позиции с доставкой</p>
				</div>
				<form action="#" method="post">
					<table class="orders-cards__table">
						<tr>
							<th>Наименование</th>
							<th>Количество</th>
							<th>За шт</th>
							<th>Итого</th>
						</tr>
						<tr>
							<td>Саморезы 8x60mm</td>
							<td>1000 шт</td>
							<td><input type="text" id="articul2_1" name="articul2_1"></td>
							<td></td>
						</tr>
						<tr>
							<td>Гвозди 8x80mm</td>
							<td>2000 шт</td>
							<td><input type="text" id="articul2_2" name="articul2_2"></td>
							<td></td>
						</tr>
						<tr>
							<td>Кирпич</td>
							<td>200000 шт</td>
							<td><input type="text" id="articul2_3" name="articul2_3"></td>
							<td></td>
						</tr>
						<tr>
							<td>Молоток для гвоздей</td>
							<td>30 шт</td>
							<td><input type="text" id="articul2_4" name="articul2_4"></td>
							<td></td>
						</tr>
						<tr>
							<td>Пеноблоки</td>
							<td>200 шт</td>
							<td><input type="text" id="articul2_5" name="articul2_5"></td>
							<td></td>
						</tr>
					</table>
				</form>
				<div class="orders-cards__delivery">Доставить нужно по адресу <a href="#" class="orders-cards__adress lnk lnk--underline">
					г. Новосибирск</a>,ул. Кутателадзе 4г до <span class="orders-cards__delivery-date">30.05.2016</span>
				</div>
				<div class="orders-cards__panel-control">
					<a href="#" class="orders-cards__add-comment lnk lnk--black">Добавить комментарий</a>
					<input type="submit" class="btn btn--blue" value="Отправить предложение">
					<input type="reset" class="btn btn--transparent" value="Отклонить">
				</div>
			</li>
		</ul>
	</li>
</ul>