/*btn
/*________________________________________________*/
.btn
	background: #8dace2
	border-radius: 4px
	color: #fff
	font-size: 14px
	line-height: 1.36
	padding: 16px 34px 16px 34px
	letter-spacing: .5px
	outline: none
	border: none
	cursor: pointer
	transition: all $default-transition-duration $default-transition-function

	&:hover
		background: #506be8

	&--transparent
		background: transparent
		color: #000

		&:hover
			color: #506be8
			background: transparent
